@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.register-page {
     font-family: 'Roboto', sans-serif;
     text-transform: uppercase;
     margin-top: 4rem;
}
.btn {
     text-transform: uppercase;
}