@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
     overflow-x: hidden;
     font-family: 'Roboto', sans-serif;
}

.offset:before {
     height: 3.9rem;
     margin-top: -3.8rem;
     content: "";
     display: block;
}

@media (max-width: 992px) {
    .social a {
        font-size: 2.5em;
        padding: 1.2rem;
   }

}

@media (max-width: 768px) {

     .carousel-caption {
         top: 10%;
     }
     .carousel-caption h1 {
         font-size: 350%;
     }
     .carousel-caption h3 {
         font-size: 140%;
         font-weight: 400;
         padding-bottom: .2rem;
     }
     .social a {
          font-size: 2.5em;
          padding: 1.2rem;
     }

     .about {
          padding-top: 1rem;
     }

}

@media (max-width: 576px) {

     .about {
          padding-top: 0;
     }
     .social a {
        font-size: 2em;
        padding: 1rem;
   }
}
