@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
     overflow-x: hidden;
     font-family: 'Roboto', sans-serif;
}

.offset:before {
     height: 3.9rem;
     margin-top: -3.8rem;
     content: "";
     display: block;
}