.container-fluid.no-padding {
     padding: 0;
 }
.social {
     background-color: black;
     color: white;
     text-transform: uppercase;
     padding: 2rem;
     border-radius: 0;
}
.social h3 { 
     padding-bottom: 2rem;
}
.social a {
     font-size: 4.5em;
     padding: 3rem;
}
.fa-facebook, 
.fa-instagram, 
.fa-twitter-square,
.fa-youtube-square,
.fa-github-square {
     color: white;
}
.fa-facebook:hover, 
.fa-instagram:hover, 
.fa-twitter-square:hover,
.fa-youtube-square:hover,
.fa-github-square:hover {
     color: #666;
}
