.about {
     background: rgb(255,255,255);
     background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(133,133,133,1) 50%, rgba(0,0,0,1) 100%);
     color: white;
     margin: 0;
     padding-top: 3rem;
     padding-bottom: 0;
     height: 370px;
     text-transform: uppercase;
     text-shadow: .1rem .1rem .8rem black;
     text-align: center;
}
.about h1{
     color: white;
     padding-top: 2rem;
     padding-bottom: 2rem;
}